*{
    box-sizing: border-box;
}

li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 20px;
    height: 30px;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #FF8C00;
    transition: transform .5s;
}

li:first-child{
    margin-top: 17px;
}

li:hover{
    transform: scale(1.05);
}

ul{
    padding: 0;
}

.wrap{
    width: 700px;
    margin: 150px auto;
    background-color: whitesmoke;
    height: 500px;
    border: 1px solid grey;
    border-radius: 20px;
    
}

.wrap__inner{
    width: 560px;
    margin: 20px auto;
}

.form{
   
    border: 1px solid grey;
}

#input{
    width: 90%;
    height: 30px;
    border: none;
    padding: 0 10px;
    font-size: 18px;
    
}

#btn{
    width: 9%;
    height: 30px;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    text-align: center;
}

.li-active{
    text-decoration: underline;
    background-color: #A9A9A9;
}

.btn-active{
    border: none;
    text-transform: uppercase;
    background-color: transparent;
}